@import "../../styles/_vars.scss";

.messages-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 304px;
  border-right: 1px solid #C8CACC;
  overflow-y: scroll;

  &-header {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid  #C8CACC;
    -webkit-user-select: none;
    @include f600;
  }

  &-items {
    display: flex;
    flex-direction: column-reverse;
  }
}
