@import "../components/listUsers/ListUsers.css";
@import "../components/BottomDocument/BottomDocument.css";
@import "../components/chooseDocumentButton/Choosedocument.css";
@import "../components/currentDocument/CurrentDocument.css";
@import "./_fonts.scss";
@import "./_vars.scss";
@import "../components/Messages/messages.css";
@import "../components/itemMessage/ItemMessage2";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
  padding: 0;
  margin: 0;
  border: 0;
}


html,
body {
  width: 100%;
  max-height: 100vh;
}

body {
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  position: relative;
  min-width: 320px;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: 400;
}

img,
.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

#root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 1280px;
  flex-grow: 1;
  max-height: 100vh;
}

.App {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
  max-height: 100vh;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;

  &-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 100vh;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 100vh;
}

.work-flow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-height: 100vh;
}

.document-flow {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #D9D9D9;
  flex-grow: 1;
}